/* font-family: 'Plus Jakarta Sans', sans-serif; */
:root{
    --default-font: 'Plus Jakarta Sans', sans-serif;
    --primary-color: #fff6f5;
    --paragraph-color: #666666;
    --secondary-color:#F8F9FA;
}
#logo{
    width: 70px;
}
.nav-link{
    font-family: var(--default-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}
body *{
    font-family: var(--default-font);
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-heading{
        font-size: 75px;
        line-height: 83px;
        font-weight: 700;
        background: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.hero{
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero *{
    margin: 25px;
    text-align: center;
}
.content{
    background-color: var(--primary-color);
    margin: 40px 120px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}
.content *{
    text-align: center;
}
.sub-heading{
    padding: 30px 0px;
    font-size: 24px;
    line-height: 26px;
}
.description{
    color: var(--paragraph-color);
    font-weight: 400;
    font-size: 20px;
    padding: 80px;
    padding-top: 20px;
}
.link-button{
    padding: 20px 30px;
    background-image: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% ) ;
    text-decoration: none;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    transition: 0.7s;
}
.link-button:hover{
    text-decoration: underline;
    transition: 0.7s;
    font-size: 26px;
}
@media (max-width: 768px) {
    .content{
        margin: 30px;
    }
}
@media (max-width: 1340px) {
    .buttons{
        margin-bottom: 60px;
    }
    .buttons-row{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 576px) {
    .main-heading{
        font-size: 35px;
    }
    .description{
        font-size: 17px;
        padding: 30px;
    }
    .link-button{
        font-size: 17px;
    }
    .about-heading{
        margin: 20px;
    }
    .about-list{
        margin: 0px;
    }
}
footer{
    background-color: black;
    margin-top: auto;
}
.footer-icon{
    color: white;
    margin: 0 20px;
    transition: 0.5s;
    padding: 5px;
    border-radius: 3px;
}
.footer-icon:hover{
    background: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% );
    transition: 0.5s;
}
.about-me{
    padding: 50px;
}
.about-heading{
    background: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 60px;
    font-size: 40px;
}
.about-box{
    margin: 20px;
}
.about-list{
    color: var(--paragraph-color);
    font-weight: 400;
    font-size: 17px;
    
}
.info .about-list{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.contact-link{
    color: black;
    transition: 0.5s;
}
.contact-link:hover{
    background: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
}
.cv-box{
    display: flex;
    justify-content: center;
    
}
.project-title{
    margin-top: 80px;
}